*{
    font-family:helvetica;
    text-decoration: none;
}

.header{
    color:black;
    font-size:18px;
    list-style: none;
}

#current{
    float:left;
    margin-top:0px;
    padding-top: 0px;
    padding-right: 23px;
    padding-bottom: 0px;
    padding-left: 300px;
    position:initial;
    color:black;
}

#future{
    float:left;
    padding-top: 0px;
    padding-right: 23px;
    padding-bottom: 0px;
    padding-left: 23px;
    position:initial;
}

#past{
    float:left;
    padding-top: 0px;
    padding-right: 23px;
    padding-bottom: 0px;
    padding-left: 23px;
    position:initial;
}

#media{
    float:left;
    padding-top: 0px;
    padding-right: 23px;
    padding-bottom: 0px;
    padding-left: 23px;
    position:initial;    
}

#contact{
    float:left;
    padding-top: 0px;
    padding-right: 23px;
    padding-bottom: 0px;
    padding-left: 23px;
    position:initial;
}

#about{
    float:left;
    padding-top: 0px;
    padding-right: 23px;
    padding-bottom: 0px;
    padding-left: 23px;
    position:initial;
}

#overlay {
    margin-left: 190px;
    margin-top: -150px;
    opacity: 0;
}

#img{
    margin-top:100px;
    margin-left:20px;
}

.img2{
    margin-left: 470px;
    margin-top:-188px
}

#img:hover #overlay{
    opacity:.5;
}